/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.de-splash {
    z-index: 0;
}

.main-page div {
    z-index:1000;
}

.munich-cover img {
    /* box-shadow:0px 0px 30px rgba(255,255,255,0.5); */
    box-shadow:0px 0px 64px rgba(0,0,0,1);
}

.munich-text h1 {
    text-transform:uppercase;
    margin-top:0;
}

.munich-text .spacer {
    margin-top:4vmin;
}

.munich-text .spacer-sm {
    margin-top:2vmin;
}

.munich-text .btn {
    transition:all 200ms ease-in;
}
.munich-text .btn-primary {   
    background-color: #71035f;
    /*background-image: linear-gradient(to bottom,#71035f 0,#61034b 100%);*/
    border-color: #61034b;
}

.munich-text .btn-primary:hover,.munich-text .btn-primary:active, .munich-text .btn-primary:focus {
    background-color: #93047f;
    /*background-image: linear-gradient(top,#61034b 0,#71035f 100%);*/
    border-color: #71035f;
}

.alert-container {
    margin-top: 15px;
}

.alert-inner {
   position: relative;
}

.alert-inner .alert-wrap {
    z-index:10000;
    top: 0;
    left:0;
    padding-top: 5px;
    padding-bottom:5px;
    position:absolute;
    width:100%;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.alert-popup {
    -moz-animation:show-alert 300ms ease-in 1;
    -ms-animation:show-alert 300ms ease-in 1;
    -webkit-animation:show-alert 300ms ease-in 1;
    animation:show-alert 300ms ease-in 1;
}

.alert-popout {
    -moz-animation:hide-alert 300ms ease-in 1;
    -ms-animation:hide-alert 300ms ease-in 1;
    -webkit-animation:hide-alert 300ms ease-in 1;
    animation:hide-alert 300ms ease-in 1;
}

.dm-load {
    background-color: #fff;
    opacity: 0;
    width: 100%;
    height:1px;

    -moz-animation: dm-load-animation-make-visible 100ms ease-in 1;
    -ms-animation: dm-load-animation-make-visible 100ms ease-in 1;
    -webkit-animation: dm-load-animation-make-visible 100ms ease-in 1;
    animation: dm-load-animation-make-visible 100ms ease-in 1;
}

.dm-load-animation {
    opacity: 1;

    -moz-animation: dm-load-animation 5000ms ease-out 1;
    -ms-animation: dm-load-animation 5000ms ease-out 1;
    -webkit-animation: dm-load-animation 5000ms ease-out 1;
    animation: dm-load-animation 5000ms ease-out 1;

}

.section-email .desktop {
    text-align:center;    
    clear:both;
}

.section-email .desktop a {
    color: #A5069f;
    font-size:0.8em;    
    cursor: pointer;
}

.tos {
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;

    display: none;
    opacity: 0;
    font-size:0.8em;
}

.tos a {
    cursor: pointer;
    color: #A5069f;
}

.tos a:hover {
    color: #A5069f;
}

/*  ========================================================================
    Animations
    ======================================================================== */

@keyframes show-alert {
    from { transform: scaleY(0.5) translateY(-50px); opacity:0;}
    to {transform: scaleY(1) translateY(0px); opacity: 1;}
}

@-webkit-keyframes show-alert {
    from { transform: scaleY(0.5) translateY(-50px); opacity:0;}
    to {transform: scaleY(1) translateY(0px); opacity: 1;}
}

@-moz-keyframes show-alert {
    from { transform: scaleY(0.5) translateY(-50px); opacity:0;}
    to {transform: scaleY(1) translateY(0px); opacity: 1;}
}

@-ms-keyframes show-alert {
    from { transform: scaleY(0.5) translateY(-50px); opacity:0;}
    to {transform: scaleY(1) translateY(0px); opacity: 1;}
}

@keyframes hide-alert {
    from { transform: scaleY(1); opacity:1;}
    to {transform: scaleY(0.25); opacity:0;}
}

@-webkit-keyframes hide-alert {
    from { transform: scaleY(1); opacity:1;}
    to {transform: scaleY(0.25); opacity:0;}
}

@-moz-keyframes hide-alert {
    from { transform: scaleY(1); opacity:1;}
    to {transform: scaleY(0.25); opacity:0;}
}

@-ms-keyframes hide-alert {
    from { transform: scaleY(1); opacity:1;}
    to {transform: scaleY(0.25); opacity:0;}
}


@keyframes dm-load-animation {
    from { width: 0px; }    
    to { width: 100%; }
}

@-webkit-keyframes dm-load-animation {
    from { width: 0px; }    
    to { width: 100%; }
}

@-moz-keyframes dm-load-animation {
    from { width: 0px; }    
    to { width: 100%; }
}

@-ms-keyframes dm-load-animation {
    from { width: 0px; }    
    to { width: 100%; }
}


@keyframes dm-load-animation-make-visible {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes dm-load-animation-make-visible {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes dm-load-animation-make-visible {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes dm-load-animation-make-visible {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* ==========================================================================
   Modal Styles
   ========================================================================== */

/* Modal Classes */

.wrap {
  padding: 40px;
  text-align: center;
}
.btn {
  background: #454545;
  border: #b4b4b4 solid 1px;
  border-radius: 3px;
  color: #b4b4b4;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/
}
.btn:hover {
  background: #e6e6e6;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog {
  background: rgba(37, 37, 37, 0.5);
  border: #333333 solid 1px;
  border-radius: 5px;
  z-index: 10000;
  width: 70vw;
  height:80vh;
  overflow-y:scroll;
  text-overflow:clip;
  -webkit-transform: translate(0, -300%);
  -ms-transform: translate(0, -300%);
  transform: translate(0, -300%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;    
}
/* Hide scrollbar in modal window */
/* .modal-dialog::-webkit-scrollbar { 
    display: none; 
} */

.modal-body {
  padding: 20px;    
}

.modal-body h5 {
    margin-top:2px;
    margin-bottom:10px;
    font-size:24px;
}

.modal-body p {
    margin-top:2px;
    margin-bottom:0;
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom:1px solid rgba(255,255,255,0.15);
  text-align:center;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  text-align: right;
}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}   
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
