@keyframes move-twink-back {
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@-moz-keyframes move-twink-back {
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@-ms-keyframes move-twink-back {
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@keyframes move-nebula-back {
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@-webkit-keyframes move-nebula-back {
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@-moz-keyframes move-nebula-back {
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@-ms-keyframes move-nebula-back {
	from {background-position: 0 0;}
	to {background-position: -10000px 5000px;}
}

@keyframes move-munich-cover {
	from {transform: rotate(0deg) scale(1);}
	25% {transform: rotate(-1deg) scale(1.01);}		
	75% {transform: rotate(1deg) scale(0.99);}
	to {transform: rotate(0deg) scale(1);}
}

.stars, .twinkling, .nebulae {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	display:block;
}

.stars {
	background:#000 url(../img/stars.png) repeat top center;
	background-size:cover;
	z-index:0;
}

.twinkling {
	background: transparent url(../img/twinkling.png) repeat top center;
	z-index: 1;

	-moz-animation:move-twink-back 600s linear infinite;
	-ms-animation:move-twink-back 600s linear infinite;
	-webkit-animation:move-twink-back 600s linear infinite;
	animation:move-twink-back 600s linear infinite;
}

.nebulae {
	background:transparent url(../img/nebulae.png) repeat top center;
	background-size: cover;
	z-index: 3;

	-moz-animation:move-nebula-back 600s linear infinite;
	-ms-animation:move-nebula-back 600s linear infinite;
	-webkit-animation:move-nebula-back 600s linear infinite;
	animation:move-nebula-back 600s linear infinite;
}

/*.munich-cover {
	animation:move-munich-cover 15s ease-in-out infinite;
}*/